<div class="canvas-wrapper date-row">

    <div id="date-index">

    </div>
    <div id="main" style="width:100%;height:500px;top:0">

    </div>
    <div id="project-index">

    </div>
    <!--<div id="drag-clone">

    </div>-->
    <div class="node-info">
        <h3 class="node-info-title">节点名称</h3>
        <div class="node-info-content">
            <ul>
                <li>
                    <label>业态</label>
                    <span></span>
                </li>
                <li>
                    <label>主责方</label>
                    <span>成本中心</span>
                </li>
                <li>
                    <label>责任人</label>
                    <span></span>
                </li>
                <li>
                    <label>计划开始</label>
                    <span>2017-06-30</span>
                </li>
                <li>
                    <label>计划结束</label>
                    <span>2017-07-30</span>
                </li>
                <li>
                    <label>状态</label>
                    <span>进行中</span>
                </li>
            </ul>
        </div>
        <div class="node-info-opt clearfix">
            <a class="btn btn-default btn-primary ys-btn-blue pull-left">详情</a>
            <a class="btn btn-default pull-right">关闭</a>
        </div>
    </div>
</div>