<nav class="navbar navbar-default ys-navbar">
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <label>项目</label>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span>{{mCtrl.menuFilter.project.name| default:"请选择"}}</span> <span class="glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu" role="menu" id="project-filter">
                    <li ng-repeat="project in mCtrl.projects" ng-class="{'active':mCtrl.isActive(project.projectCd,mCtrl.menuFilter.project.projectCd)}">
                        <a data-id={{project.projectCd}} ng-click='mCtrl.setProject(project)'>{{project.name}}</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <label>计划</label>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdown-plan"><span >{{mCtrl.menuFilter.plan.name| default:"请选择"}}</span> <span class="glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu" role="menu" id="bis-filter">
                    <li ng-repeat="plan in mCtrl.plans" ng-class="{'active':mCtrl.isActive(plan.id,mCtrl.menuFilter.plan.id)}">
                        <a data-id={{plan.id}} ng-click='mCtrl.setPlan(plan)'>{{plan.name}}</a>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                <label>级别</label>
                <a href="#" class="dropdown-toggle level_{{mCtrl.menuFilter.level}}" data-toggle="dropdown" id="level-selected"><span >{{mCtrl.levels[mCtrl.menuFilter.level] | default:"请选择"}}</span> <span class="glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu" role="menu" id="level-filter">
                    <li ng-repeat="(lid,level) in mCtrl.levels" ng-class="{'active':mCtrl.isActive(lid,mCtrl.menuFilter.level)}" class="level_{{lid}}">
                        <a data-id={{lid}} ng-click='mCtrl.triggerMenuFilter("level",lid,$event)'>{{level}}</a>
                    </li>
                </ul>
            </li>

            <li class="dropdown">
                <label>状态</label>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span >{{mCtrl.status[mCtrl.menuFilter.status] | default:"请选择"}}</span> <span class="glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu" role="menu" id="status-filter">
                    <li ng-repeat="(sid,status) in mCtrl.status" ng-class="{'active':mCtrl.isActive(sid,mCtrl.menuFilter.status)}">
                        <a data-id={{sid}} ng-click='mCtrl.triggerMenuFilter("status",sid,$event)'>{{status}}</a>
                    </li>
                </ul>
            </li>

            <li>
                <div class="raido-wrapper clearfix">
                    <div class="input-addon input-radio-addon pull-left">
                        <input type="radio" name="showoff" id="show-all" checked ng-value="1" ng-model="mCtrl.menuFilter.all" ng-change='mCtrl.triggerMenuFilter("all",1,$event)'>
                        <label for="show-all">全部</label>
                    </div>
                    <div class="input-addon input-radio-addon pull-left">
                        <input type="radio" name="showoff" id="show-undone" ng-value="0" ng-model="mCtrl.menuFilter.all" ng-change='mCtrl.triggerMenuFilter("all",0,$event)'>
                        <label for="show-undone">未完成</label>
                    </div>
                </div>
            </li>
        </ul>

        <div class="navbar-form navbar-right" id="project-search">
            <div class="form-group clearfix">
                <input type="text" name="searchSearch" value="" class="form-control" placeholder="请输入要查询的节点" ng-model="mCtrl.menuFilter.node">
            </div>

            <button type="submit" class="btn btn-default" ng-click="mCtrl.triggerFilter($event)">查询</button>
        </div>
    </div><!-- /.navbar-collapse -->
</nav>