<div class="right-content-wrapper" id="right-rpanel">
    <div class="right-panel-header">
        <a href="javascript:void(0)" class="closebtn" ng-click="rCtrl.close()">×</a>
        <h3></h3>
    </div><!--right panel header-->
    <div class="right-content">
        <form name="detailForm">
            <div class="rpanel-title">
                <h3>289.工程竣工结算</h3>
            </div>
            <div class="rpanel-content rpanel-content-summary">
                <table class="table ys-table">
                    <thead>
                        <tr>
                            <th>业态</th>
                            <th>主责方</th>
                            <th>中心负责人</th>
                            <th>部门负责人</th>
                            <th>负责人</th>
                            <th>计划开始</th>
                            <th>计划完成</th>
                            <th>过期天数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>一期西地块办公</th>
                            <td>成本中心</td>
                            <td>吕翠华</td>
                            <td>刘群英</td>
                            <td>申玉玉</td>
                            <td>2015-08-13</td>
                            <td>2015-06-13</td>
                            <td>-38</td>
                        </tr>
                    </tbody>
                </table>
            </div><!--rpanel-table-->
            <div class="rpanel-content rpanel-content-detail">
                <table class="table ys-table">
                    <tbody>
                        <tr>
                            <th>涉及业态</th>
                            <td>
                                <div class="td-wrapper">
                                    <div class="input-addon input-checkbox-addon">
                                        <input id="test" type="checkbox" style="display:none;">
                                        <label  for="test">一期西地块办公</label>
                                    </div>
                                </div>
                            </td>
                        </tr><!--tr-->
                    </tbody>
                </table>
            </div><!--rpanel-content-detail-->
        </form>
    </div><!--right content-->
</div><!--right content wrapper-->