<div class="right-content-wrapper" id="right-rpanel">
    <div class="right-panel-header">
        <a href="javascript:void(0)" class="closebtn" ng-click="rCtrl.close()">×</a>
        <h3></h3>
    </div><!--right panel header-->
    <div class="right-content">
        <form name="detailForm">
            <div class="rpanel-title">
                <h3>{{rCtrl.nodeInfo.sequence}}.{{rCtrl.nodeInfo.name}}</h3>
            </div>
            <div class="rpanel-content rpanel-content-summary">
                <table class="table ys-table">
                    <colgroup>
                        <col width="16%">
                        <col width="12%">
                        <col width="11%">
                        <col width="11%">
                        <col width="10%">
                        <col width="15%">
                        <col width="15%">
                        <col width="10%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>业态</th>
                        <th>主责方</th>
                        <th>中心负责人</th>
                        <th>部门负责人</th>
                        <th>负责人</th>
                        <th>计划开始</th>
                        <th>计划完成</th>
                        <th>过期天数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>{{rCtrl.nodeInfo.plan}}</th>
                        <td>{{rCtrl.nodeInfo.chargeOrgName}}</td>
                        <td>{{rCtrl.nodeInfo.centerManagerName}}</td>
                        <td>{{rCtrl.nodeInfo.departmentHeadName}}</td>
                        <td data-charger="{{rCtrl.nodeInfo.isChargeMan}}">{{rCtrl.nodeInfo.chargerName}}</td>
                        <td>{{rCtrl.nodeInfo.startDate}}</td>
                        <td>{{rCtrl.nodeInfo.endDate}}</td>
                        <td>{{rCtrl.nodeInfo.delayOffset}}</td>
                    </tr>
                    </tbody>
                </table>
            </div><!--rpanel-table-->
            <div class="rpanel-content rpanel-content-detail">
                <table class="table ys-table ys-table-noborder">
                    <colgroup>
                        <col width="16%">
                        <col width="84%">
                    </colgroup>
                    <tbody>

                    <!--<tr>
                        <th>业态:</th>
                        <td>
                            <div class="td-wrapper clearfix">
                                <div class="input-addon input-checkbox-addon pull-left">
                                    <input type="checkbox" name="retailing-form" id="retailing-form" checked>
                                    <label for="retailing-form">一期西地块办公</label>
                                </div>
                            </div>
                        </td>
                    </tr>-->
                    <!--tr-->

                    <tr>
                        <th>状态:</th>
                        <td>
                            <!--<div class="td-wrapper clearfix " ng-if="rCtrl.nodeInfo.isWarning!==true">
                                <div class="input-addon input-radio-addon pull-left">
                                    <input type="radio" name="status" id="status-going-on" ng-disabled="rCtrl.nodeInfo.isChargeMan==true">
                                    <label for="status-going-on">进行中</label>
                                </div>
                                <div class="input-addon input-radio-addon pull-left">
                                    <input type="radio" name="status" id="status-done" ng-disabled="rCtrl.nodeInfo.isChargeMan==true">
                                    <label for="status-done">已完成</label>
                                </div>
                            </div>-->
                            <div class="td-wrappr clearfix" ng-if="rCtrl.nodeInfo.status==2">
                                <span>已完成</span>
                            </div>
                            <div class="td-wrappr clearfix" ng-if="rCtrl.nodeInfo.status!=2&&rCtrl.nodeInfo.confirmStatus==1 && (rCtrl.nodeInfo.resStatus==1 ||rCtrl.nodeInfo.resStatus==3)">
                                <span>未启动</span>
                            </div>
                            <div class="td-wrappr clearfix" ng-if="rCtrl.nodeInfo.status!=2&&rCtrl.nodeInfo.confirmStatus==1 && (rCtrl.nodeInfo.resStatus==2)">
                                <span>确认中</span>
                            </div>
                            <div class="td-wrapper clearfix " ng-if="rCtrl.nodeInfo.status!=2&&rCtrl.nodeInfo.confirmStatus==2 && (rCtrl.nodeInfo.resStatus==1 ||rCtrl.nodeInfo.resStatus==3)">
                                <span ng-if="rCtrl.nodeInfo.isWarning ==true" class="alert-warning">该计划处于预警状态，须重点关注。请点击“预计按期完成”、“预计延期完成”、“已完成”实时知会相关人员计划当前状态。</span>

                                <span ng-if="rCtrl.nodeInfo.isWarning !=true" class="alert-warning">请按计划时间开展工作，点击“已完成”发起完成网批</span>
                            </div>
                            <div class="td-wrappr clearfix" ng-if="rCtrl.nodeInfo.status!==2&&rCtrl.nodeInfo.confirmStatus==2 && (rCtrl.nodeInfo.resStatus==2)">
                                <span class="alert-warning">该计划处于网批状态，点击“网批查询号”查询网批详情</span>
                            </div>
                        </td>
                    </tr><!--tr-->

                    <!-- <tr ng-if="rCtrl.nodeInfo.isWarning==true " >-->
                    <tr ng-if="rCtrl.nodeInfo.isChargeMan==true">
                        <th>操作:</th>
                        <td>
                            <div class="td-wrapper clearfix">
                                <div class="input-addon input-radio-addon pull-left" ng-if="rCtrl.nodeInfo.confirmStatus==2 &&rCtrl.nodeInfo.resStatus!=2">
                                    <input type="radio" name="warning-opt" id="warning-opt-complete" ng-value="" ng-model="rCtrl.statusOpt">
                                    <label for="warning-opt-complete">已完成</label>
                                </div>
                                <div class="input-addon input-radio-addon pull-left" ng-if="rCtrl.nodeInfo.isWarning==1&&rCtrl.nodeInfo.confirmStatus==2 ">
                                    <input type="radio" name="warning-opt" id="warning-opt-ondate" ng-value="complete" ng-model="rCtrl.statusOpt">
                                    <label for="warning-opt-ondate">预计按期完成</label>
                                </div>
                                <div class="input-addon input-radio-addon pull-left" ng-if="rCtrl.nodeInfo.isWarning==1 &&rCtrl.nodeInfo.confirmStatus==2 ">
                                    <input type="radio" name="warning-opt" id="warning-opt-delay" ng-value="complete" ng-model="rCtrl.statusOpt">
                                    <label for="warning-opt-delay">预计延期完成</label>
                                </div>

                                <div class="input-addon input-radio-addon pull-left" ng-if="rCtrl.nodeInfo.confirmStatus==2 &&rCtrl.nodeInfo.resStatus!=2">
                                    <input type="radio" name="warning-opt" id="warning-opt-cancel" ng-value="complete" ng-model="rCtrl.statusOpt">
                                    <label for="warning-opt-delay">申请延期或撤销</label>
                                </div>
                            </div>
                        </td>
                    </tr><!--tr-->

                    <tr>
                        <th style="vertical-align: top">成果判定:</th>
                        <td>
                            <div class="td-wrapper clearfix">
                                <div class="clearfix">
                                    <span class="pull-left span-note-grey">{{rCtrl.formData.outputDesc}}</span>
                                </div>
                                <div class="td-attachment clearfix">
                                    <div class="attach-group clearfix" ng-repeat="attach in rCtrl.formData.attachs">
                                        <span class="pull-left"><a href="{{rCtrl.domain+'/PowerDesk'+attach.url}}" target="_blank">{{attach.name}}</a></span>
                                       <!-- <div class="td-opt-group pull-left" ng-if="rCtrl.nodeInfo.isChargeMan==true">
                                            <a class="td-opt td-opt-del" ng-click="rCtrl.deleteAttach($event,attach)">删除</a>
                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr><!--tr-->

                    <tr>
                        <th>网批号查询:</th>
                        <td>
                            <div class="td-wrapper clearfix">
                                <a class="td-link" ng-repeat="resId in rCtrl.nodeInfo.resIds" href="{{rCtrl.baseLink}}/res/res-approve-info.action?id={{resId}}" target="_blank">
                                    {{rCtrl.nodeInfo.resNumbers[$index]}}
                                </a>
                            </div>
                        </td>
                    </tr><!--tr-->

                    </tbody><!--tbody-->

                    <!--非责任人反馈信息-->
                    <tbody class="rpanel-opt-table" ng-if="rCtrl.nodeInfo.isChargeMan!=true">
                    <tr>
                        <th colspan="2">
                            <h3>责任人反馈信息</h3>
                        </th>
                    </tr><!--tr-->
                    <tr ng-if="rCtrl.formData.finishOnTime==''">
                        <th>是否按期完成:</th>
                        <td>
                            <div class="td-wrapper clearfix" ng-if="rCtrl.formData.finishOnTime!=''">
                                <div class="input-addon input-radio-addon pull-left">
                                    <input type="radio" name="schedule" id="on-schedule-fd" ng-disabled="true" ng-value="3" ng-model="rCtrl.formData.finishOnTime">
                                    <label for="on-schedule-fd">是</label>
                                </div>
                                <div class="input-addon input-radio-addon pull-left">
                                    <input type="radio" name="schedule" id="out-schedule-fd" ng-disabled="true" ng-value="2" ng-model="rCtrl.formData.finishOnTime">
                                    <label for="out-schedule-fd">否</label>
                                </div>
                            </div>
                            <span ng-if="rCtrl.formData.finishOnTime==''">-</span>
                        </td>
                    </tr><!--tr-->
                    <tr ng-if="rCtrl.formData.influenceMainNode==''">
                        <th>是否影响里程碑节点:</th>
                        <td>
                            <div class="td-wrapper clearfix" ng-if="rCtrl.formData.influenceMainNode!=''">

                                <div class="input-addon input-radio-addon pull-left">
                                    <input type="radio" name="effective" id="marker-effect-fd" ng-disabled="true" ng-value="3" ng-model="rCtrl.formData.influenceMainNode">
                                    <label for="marker-effect-fd">是</label>
                                </div>
                                <div class="input-addon input-radio-addon pull-left">
                                    <input type="radio" name="effective" id="marker-no-effect-fd" ng-disabled="true" ng-value="2" ng-model="rCtrl.formData.influenceMainNode">
                                    <label for="marker-no-effect-fd">否</label>
                                </div>
                            </div>
                            <span ng-if="rCtrl.formData.influenceMainNode==''">-</span>
                        </td>
                    </tr><!--tr-->

                    <tr>
                        <th style="vertical-align: top;">风险及具体原因:</th>
                        <td>
                            <div class="td-wrapper" ng-if="rCtrl.formData.delayReason!=''">
                                <textarea ng-disabled="true" >{{rCtrl.formData.delayReason}}</textarea>
                            </div>
                            <span  ng-if="rCtrl.formData.delayReason==''">-</span>
                        </td>
                    </tr><!--tr-->
                    </tbody>

                    <!--责任人操作-->
                    <tbody class="rpanel-opt-table" ng-if="rCtrl.nodeInfo.isChargeMan==true">
                    <tr>
                        <th colspan="2">
                            <h3>责任人操作</h3>
                        </th>
                    </tr><!--tr-->
                    <tr>
                        <th>是否按期完成:</th>
                        <td>
                            <div class="td-wrapper clearfix">
                                <div class="input-addon input-radio-addon pull-left">
                                    <input type="radio" name="schedule" id="on-schedule" ng-value="3" ng-model="rCtrl.formData.finishOnTime">
                                    <label for="on-schedule">是</label>
                                </div>
                                <div class="input-addon input-radio-addon pull-left">
                                    <input type="radio" name="schedule" id="out-schedule" ng-value="2" ng-model="rCtrl.formData.finishOnTime">
                                    <label for="out-schedule">否</label>
                                </div>
                            </div>
                        </td>
                    </tr><!--tr-->
                    <tr>
                        <th>是否影响里程碑节点:</th>
                        <td>
                            <div class="td-wrapper clearfix">
                                <div class="input-addon input-radio-addon pull-left">
                                    <input type="radio" name="effective" id="marker-effect" ng-value="3" ng-model="rCtrl.formData.influenceMainNode">
                                    <label for="marker-effect">是</label>
                                </div>
                                <div class="input-addon input-radio-addon pull-left">
                                    <input type="radio" name="effective" id="marker-no-effect" ng-value="2" ng-model="rCtrl.formData.influenceMainNode">
                                    <label for="marker-no-effect">否</label>
                                </div>
                            </div>
                        </td>
                    </tr><!--tr-->

                    <tr>
                        <th style="vertical-align: top;">风险及具体原因:</th>
                        <td>
                            <div class="td-wrapper">
                                <textarea>{{rCtrl.formData.delayReason}}</textarea>
                                <div class="td-btn-group clearfix">
                                    <a class="btn btn-primary" ng-click="rCtrl.chargerCommit($event)">确定</a>
                                    <a class="btn btn-default" ng-click="rCtrl.resetCommit($event)">取消</a>
                                </div>
                            </div>
                        </td>
                    </tr><!--tr-->
                    </tbody>
                </table>
                <div class="ys-comment-process ys-comment-opt">
                    <div class="ys-block-title"><span>留言记录</span></div>
                    <table class="table ys-table ys-table-noborder">
                        <colgroup>
                            <col width="20%">
                            <col width="80%">
                        </colgroup>
                        <tbody>
                        <tr ng-repeat="message in rCtrl.formData.messages">
                            <th ng-if="message.type==1">{{message.creatorName}} <i>（{{rCtrl.toDateStr(message.messageDate)}}）</i> 留言:</th>
                            <th ng-if="message.type==2">{{message.creatorName}} <i>（{{rCtrl.toDateStr(message.messageDate)}}）</i> 共享给 <em>{{message.messageUserName}}</em>:</th>
                            <th ng-if="message.type==3">{{message.creatorName}} <i>（{{rCtrl.toDateStr(message.messageDate)}}）</i> 回复 <em>{{message.messageUserName}}</em>:</th>
                            <td>{{message.content}}
                                <a ng-click="rCtrl.reply($event,message.creator)" ng-show="(message.type==2 || message.type==3)&& rCtrl.canReply(message.shareds)" class="ys-btn-reply">回复</a>
                            </td>

                        </tr>
                        </tbody>
                    </table>

                    <div class="reply-wrapper" ng-show="self.isReply==true">
                        <span>回复：{{self.replyMessager}}<a ng-click="rCtrl.resetReply()"><em class="glyphicon glyphicon-remove"></em></a></span>
                    </div>
                    <div class="ys-comment-opt-comment">

                        <textarea width="100%" style="" placeholder="发表留言(留言内容不具有审批效力)" id="message-textarea" ng-model="rCtrl.message">{{rCtrl.message}}</textarea>
                        <button ng-click="rCtrl.sendMessage($event)" style="right:94px;">留言</button>
                        <button ng-click="rCtrl.shareMessage($event)">分享</button>
                        <div class="alert-wrapper">
                            <div class="alert alert-success" role="alert">提交成功</div>
                            <div class="alert alert-danger" role="alert">网络错误，请稍后再试</div>
                        </div>
                    </div>

                </div><!--end ys-comment-opt-->

            </div><!--rpanel-content-detail-->
        </form>
    </div><!--right content-->
</div><!--right content wrapper-->