<div class="right-content-wrapper" id="right-rpanel">
    <div class="right-panel-header">
        <a href="javascript:void(0)" class="closebtn" ng-click="rCtrl.close()">×</a>
        <h3></h3>
    </div><!--right panel header-->
    <div class="right-content">
        <form name="detailForm">
            <div class="rpanel-title">
                <h3>{{rCtrl.nodeInfo.sequence}}.{{rCtrl.nodeInfo.name}}</h3>
            </div>
            <div class="rpanel-content rpanel-content-detail">
                <table class="table ys-table ys-table-noborder">
                    <colgroup>
                        <col width="16%">
                        <col width="84%">
                    </colgroup>
                    <tbody>

                        <tr>
                            <th>计划开始:</th>
                            <td>
                                <div class="ys-date-picker" date-picker="" date-select="rCtrl.setStartDate({date:date})"
                                     ng-model="rCtrl.planStartDate" date-directive-name="rCtrl.dateDirectiveStartName" >
                                </div>
                            </td>
                        </tr><!--tr-->

                       <!-- <tr ng-if="rCtrl.nodeInfo.isWarning==true " >-->
                        <tr>
                            <th>计划完成:</th>
                            <td>
                                <div class="ys-date-picker" date-picker="" date-select="rCtrl.setEndDate({date:date})"
                                     ng-model="rCtrl.planEndDate" date-directive-name="rCtrl.dateDirectiveEndName" >
                                </div>
                            </td>
                        </tr><!--tr-->

                        <tr>
                            <th>中心负责人:</th>
                            <td>
                                <div class="td-wrapper clearfix">
                                    <input type="text" ng-model="rCtrl.formData.centerManagerName" ng-required="true" ng-focus="rCtrl.setCharger('centerManger')">
                                </div>
                            </td>
                        </tr><!--tr-->

                        <tr>
                            <th>部门负责人:</th>
                            <td>
                                <div class="td-wrapper clearfix">
                                    <input type="text" ng-model="rCtrl.formData.departmentHeadName" ng-required="true" ng-focus="rCtrl.setCharger('departmentHead')">
                                </div>
                            </td>
                        </tr><!--tr-->

                        <tr>
                            <th>负责人:</th>
                            <td>
                                <div class="td-wrapper clearfix">
                                    <input type="text" ng-model="rCtrl.formData.chargerName" ng-required="true" ng-focus="rCtrl.setCharger('charger')">
                                </div>
                            </td>
                        </tr><!--tr-->

                        <tr>
                            <th></th>
                            <td>
                                <div class="td-wrapper">
                                    <div class="td-btn-group clearfix">
                                        <a class="btn btn-primary" ng-click="rCtrl.chargerCommit($event)">确定</a>
                                        <a class="btn btn-default" ng-click="rCtrl.resetCommit($event)">取消</a>
                                    </div>
                                </div>
                            </td>
                        </tr><!--tr-->

                    </tbody><!--tbody-->

                </table>


            </div><!--rpanel-content-detail-->
          </form>
    </div><!--right content-->
</div><!--right content wrapper-->