<div class="right-content-wrapper" id="right-rpanel">
    <div class="right-panel-header">
        <a href="javascript:void(0)" class="closebtn" ng-click="rCtrl.close()">×</a>
        <h3></h3>
    </div><!--right panel header-->
    <div class="right-content">
        <form name="detailForm">
            <div class="rpanel-title">
                <h3>{{rCtrl.nodeInfo.sequence}}.{{rCtrl.nodeInfo.name}}</h3>
            </div>
            <div class="rpanel-content rpanel-content-summary">
                <table class="table ys-table">
                    <colgroup>
                        <col width="16%">
                        <col width="12%">
                        <col width="11%">
                        <col width="11%">
                        <col width="10%">
                        <col width="15%">
                        <col width="15%">
                        <col width="10%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>业态</th>
                            <th>主责方</th>
                            <th>中心负责人</th>
                            <th>部门负责人</th>
                            <th>负责人</th>
                            <th>计划开始</th>
                            <th>计划完成</th>
                            <th>过期天数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{rCtrl.nodeInfo.plan}}</th>
                            <td>{{rCtrl.nodeInfo.chargeOrgName}}</td>
                            <td>吕翠华</td>
                            <td>刘群英</td>
                            <td>申玉玉</td>
                            <td>{{rCtrl.nodeInfo.startDate}}</td>
                            <td>{{rCtrl.nodeInfo.endDate}}</td>
                            <td>{{rCtrl.nodeInfo.delayOffset}}</td>
                        </tr>
                    </tbody>
                </table>
            </div><!--rpanel-table-->
            <div class="rpanel-content rpanel-content-detail">
                <table class="table ys-table ys-table-noborder">
                    <colgroup>
                        <col width="16%">
                        <col width="84%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>涉及业态:</th>
                            <td>
                                <div class="td-wrapper clearfix">
                                    <div class="input-addon input-checkbox-addon pull-left">
                                        <input type="checkbox" name="retailing-form" id="retailing-form" checked>
                                        <label for="retailing-form">一期西地块办公</label>
                                    </div>
                                </div>
                            </td>
                        </tr><!--tr-->

                        <tr>
                            <th>状态:</th>
                            <td>
                                <div class="td-wrapper clearfix">
                                    <div class="input-addon input-radio-addon pull-left">
                                        <input type="radio" name="status" id="status-going-on">
                                        <label for="status-going-on">进行中</label>
                                    </div>
                                    <div class="input-addon input-radio-addon pull-left">
                                        <input type="radio" name="status" id="status-done">
                                        <label for="status-done">已完成</label>
                                    </div>
                                </div>
                            </td>
                        </tr><!--tr-->
                        <tr ng-if="rCtrl.nodeInfo.isWarning==true">
                            <th>操作:</th>
                            <td>
                                <div class="td-wrapper clearfix">
                                    <div class="input-addon input-radio-addon pull-left">
                                        <input type="radio" name="warning-opt" id="warning-opt-complete" ng-value="complete" ng-model="warningOpt">
                                        <label for="warning-opt-complete">已完成</label>
                                    </div>
                                    <div class="input-addon input-radio-addon pull-left">
                                        <input type="radio" name="warning-opt" id="warning-opt-ondate" ng-value="complete" ng-model="warningOpt">
                                        <label for="warning-opt-ondate">预计按期完成</label>
                                    </div>
                                    <div class="input-addon input-radio-addon pull-left">
                                        <input type="radio" name="warning-opt" id="warning-opt-delay" ng-value="complete" ng-model="warningOpt">
                                        <label for="warning-opt-delay">预计延期完成</label>
                                    </div>
                                </div>
                            </td>
                        </tr><!--tr-->

                        <tr>
                            <th>成果判定:</th>
                            <td>
                                <div class="td-wrapper clearfix">
                                   <span class="pull-left">《工程结算审批表》</span>
                                   <div class="td-opt-group pull-left">
                                       <a class="td-opt td-opt-del">删除</a>
                                       <label class="td-opt td-opt-upload" ng-click="rCtrl.uploadFile($event)" for="file-upload">上传
                                            <input type="file" id="file-upload">
                                       </label>
                                   </div>
                                </div>
                            </td>
                        </tr><!--tr-->
                        <tr>
                            <th>网批号查询:</th>
                            <td>
                                <div class="td-wrapper clearfix">
                                    <a class="td-link" ng-repeat="resId in rCtrl.nodeInfo.resIds" href="{{rCtrl.baseLink}}/res/res-approve-info.action?id={{resId}}" target="_blank">
                                        {{rCtrl.nodeInfo.resNumbers[$index]}}
                                    </a>
                                </div>
                            </td>
                        </tr><!--tr-->
                    </tbody><!--tbody-->

                    <tbody class="rpanel-opt-table">
                        <tr>
                            <th colspan="2">
                                <h3>责任人操作</h3>
                            </th>
                        </tr><!--tr-->
                        <tr>
                            <th>是否按期完成:</th>
                            <td>
                                <div class="td-wrapper clearfix">
                                    <div class="input-addon input-radio-addon pull-left">
                                        <input type="radio" name="schedule" id="on-schedule">
                                        <label for="on-schedule">是</label>
                                    </div>
                                    <div class="input-addon input-radio-addon pull-left">
                                        <input type="radio" name="schedule" id="out-schedule">
                                        <label for="out-schedule">否</label>
                                    </div>
                                </div>
                            </td>
                        </tr><!--tr-->
                        <tr>
                            <th>是否影响里程碑节点:</th>
                            <td>
                                <div class="td-wrapper clearfix">
                                    <div class="input-addon input-radio-addon pull-left">
                                        <input type="radio" name="effective" id="marker-effect">
                                        <label for="marker-effect">是</label>
                                    </div>
                                    <div class="input-addon input-radio-addon pull-left">
                                        <input type="radio" name="effective" id="marker-no-effect">
                                        <label for="marker-no-effect">否</label>
                                    </div>
                                </div>
                            </td>
                        </tr><!--tr-->

                        <tr>
                            <th style="vertical-align: top;">风险及具体原因:</th>
                            <td>
                                <div class="td-wrapper">
                                    <textarea ></textarea>
                                    <div class="td-btn-group clearfix">
                                        <a class="btn btn-primary">确定</a>
                                        <a class="btn btn-default">取消</a>
                                    </div>
                                </div>
                            </td>
                        </tr><!--tr-->
                    </tbody>
                </table>
            </div><!--rpanel-content-detail-->
            <div class="ys-comment-process ys-comment-opt container" style="">
                <div class="container">
                    <div class="ys-block-title"><span>已推送给</span> <em class="ys-notice ys-red pull-right">以下内容不属于打印区域</em></div>
                    <div class="ys-commnet-opt-share">
                        <span>罗玲玲;   孙培培;   闫志浩;   尹静;</span>
                    </div>

                    <div class="ys-block-title"><span>留言记录</span></div>
                    <dl>
                        <dt>王永周 <i>（07-27  18:50）</i></dt>
                        <dd>同意崔工意见</dd>

                        <dt>王永周 <i>（07-27  18:50）</i></dt>
                        <dd>同意崔工意见</dd>
                    </dl>
                    <div class="ys-comment-opt-comment">
                        <textarea width="100%" style="" placeholder="发表留言(留言内容不具有审批效力)"></textarea>
                        <button>留言</button>
                    </div>
                </div><!--end container-->
            </div><!--end ys-comment-opt-->
        </form>
    </div><!--right content-->
</div><!--right content wrapper-->