<div class="canvas-wrapper date-row">

    <div id="date-index">

    </div>
    <div id="main" style="width:100%;height:500px;top:0">

    </div>
    <div id="project-index">

    </div>
    <!--<div id="drag-clone">

    </div>-->
    <div class="node-info">
        <h3 class="node-info-title">{{dCtrl.curSelectNode.name}}</h3>
        <a class="btn-info-close" ng-click="dCtrl.closeNodeInfo()"></a>
        <div class="node-info-content">
            <ul>
                <li>
                    <label>业态: </label>
                    <span>{{dCtrl.curSelectNode.plan}}</span>
                </li>
                <li>
                    <label>主责方: </label>
                    <span>{{dCtrl.curSelectNode.chargeOrgName}}</span>
                </li>
                <li>
                    <label>责任人: </label>
                    <span></span>
                </li>
                <li>
                    <label>计划开始: </label>
                    <span>{{dCtrl.curSelectNode.startDate}}</span>
                </li>
                <li>
                    <label>计划结束: </label>
                    <span>{{dCtrl.curSelectNode.endDate}}</span>
                </li>
                <li>
                    <label>状态: </label>
                    <span>{{dCtrl.curSelectNode.status}}</span>
                </li>
                <li ng-show="true">
                    <label>延期时间: </label>
                    <span>{{dCtrl.curSelectNode.delayOffset}}</span>
                </li>
            </ul>
        </div>
        <div class="node-info-opt">
            <a class="btn btn-default ys-btn-dark" ng-click="dCtrl.showNodeDetail()">详情</a>
        </div>
    </div>
</div>