/*patch*/
.ys-navbar{margin-bottom:0;
    border-radius: 0;background-color:#4b5368; border:0;}
#navbar{padding-top:18px;padding-bottom:16px;padding-left:60px;padding-right:15px;height:60px;overflow: hidden;max-height: 60px;}
.navbar-nav>li>a{position:relative;padding:0;height: 26px;  line-height: 26px;background-color:#3a4153;font-size:12px;padding-left:10px;padding-right:10px;color: #fff;}
.navbar-default .navbar-nav>li>a { color: #fff; }
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #3a4153;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #3a4153;
}
.navbar-nav>li>.dropdown-menu {
    max-height: 300px;
    overflow: auto;
    left: 50px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #3a4153;
    outline: 0;
}
.ys-navbar .dropdown{min-width:180px;padding-left:50px;position: relative;}
.ys-navbar .dropdown>label{position: absolute;left:15px;top:50%;margin-top:-13px;height:26px;line-height: 26px;font-size:12px;color:#8592a3;}
.navbar-nav>li>.dropdown-menu{max-height:300px;overflow:auto;}
.navbar-default .navbar-nav>li>a>span.glyphicon{position: absolute;width:14px;height:14px;right:10px;top:50%;margin-top:-7px;text-align: center;color:#8592a3;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;}

.navbar-default .navbar-nav>li.open>a>span.glyphicon{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);}

.canvas-wrapper {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
#date-index {
    position: absolute;
    height: 30px;
    background-color: #9a9a9a;
    border: 0;
    border-radius: 15px;
    z-index: 999;
}
.date-row #date-index {
    background-color: #dae1e7;
    border-radius: 0;
}
.date-day {
    position:relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
}
.date-day>i{display: block;font-style: normal;position: relative;width:80px;left:-40px;text-align: center;}
.date-row .date-day {
    color: #333;
}
#main {
    position: relative;
}

#project-index {
    position: absolute;
    width: 30px;
    top: 0;
    left: 0;
    z-index: 999;
}

.project-name {
    position: absolute;
    left: -136px;
    margin-bottom: -2px;
    padding-left: 8px;
    padding-right: 8px;
    height: 24px;
    width: 80px;
    background-color: #dae1e7;
    border:0;
    border-left:solid .5px #cacaca;
    text-align: center;
    line-height: 30px;
    transform: rotate(30deg);
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}

.project-name +.project-name{border-right:solid .5px #cacaca;}
.project-name:hover, .project-active {
    background-color: #c8d1d8;
    color: #000;
    cursor: pointer;
}


.ys-loading{display: none;}

/*node info*/
.node-info {
    display: none;
    position: absolute;
    z-index:1999;
    margin-left: 30px;
    margin-top: 18px;
    min-width: 230px;
    padding: 16px;
    top:0;
    left:0;
    color: #dfdfdf;
    background-color: rgba(35, 47, 62, 0.8);
}
.node-info h3 {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
}
.node-info:after {
    display: block;
    content:" ";
    position: absolute;
    top: -10px;
    left: -16px;
    width: 38px;
    height: 24px;
    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: top left;
}
.node-info .edit a {
    display: inline-block;
    margin-left: 8px;
    marign-right: 8px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    min-width: 88px;
    height: 32px;
    line-height: 16px;
    background-color: #ff8113;
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.node-info .edit #confirm-cancel a {
    background-color: #0072bb;
}